<div class="col">
<div class="card" >

        <img src="{{ asset('images') ~ '/'~ movie.poster }}" class="card-img-top" alt="{{ movie.title }}">

    <div class="card-body">
        <h5 class="card-title">{{ movie.title }} </h5>
        <p class="card-text">{{ movie.overview | slice(0, 100) }}...</p>
        <p><strong>Data d'estrena</strong>: {{ movie.releaseDate | date("d-m-Y") }}</p>
        <a href="#" class="btn btn-primary">Més detalls</a>
    </div>
</div>

</div>